#wrapper{
    width:50%;
    margin-left:25%;
    z-index:-1;
}
#top{
    height:15%;
    position:relative;
    background-color:green;
    z-index:1;
}
#bottom{
    height:85%;
    position:relative;
    background-color:#e5c682;
    z-index:1;
}
table{
    width:100%;
    border-collapse:collapse;
}
tr, th{
    border-width:1px;
    border-style:solid;
    border-color:#a7905d;
}
.NBY{
    background-color:#a7905d;
}